footer {
    width: 100%;
    height: 90vh;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-main {
    width: 1070px;
  }
  .footer-detail {
    font-size: .7rem;
    color: #95a5a6;
    padding: 20px 0;
    border-bottom: 1px solid #bdc3c7;
  }
  .footer-detail a {
    color: #2c3e50;
  }
  .footer-detail a:hover {
    text-decoration: underline;
  }
  .footer-welcome {
    display: flex;
    margin: 20px 0;
    font-size: .8rem;
    color: #34495e;
  }
  .footer-welcome i {
    margin-right: 10px;
  }
  .footer-ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-ul ul {
    list-style: none;
  }
  .footer-ul ul li {
    margin: 7px 0;
  }
  .footer-ul ul li h4 {
    color: #34495e;
    font-size: .7rem;
  }
  .footer-ul ul li a {
    color: #7f8c8d;
    font-size: .7rem;
  }
  .footer-ul ul li a:hover {
    text-decoration: underline; 
  }
  #mt {
    padding-top: 30px;
  }
  .footer-contact {
    border-bottom: 1px solid #bdc3c7;
    padding: 12px 0;
    margin: 10px 0;
    color: #7f8c8d;
    font-size: .7rem;
  }
  .footer-contact a {
    color: #3498db;
  }
  .footer-contact a:hover {
    text-decoration: underline;
  }
  .footer-copyright {
    color: #7f8c8d;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
  }
  .footer-copyright ul {
    display: flex;
    list-style: none;
    width: auto;
  }
  .footer-copyright ul li {
    margin: 0 10px;
  }
  .footer-copyright ul li a {
    color: #7f8c8d;
  }
  .footer-copyright ul li a:hover {
    text-decoration: underline; 
  }
  .vr {
    height: 15px;
    width: 1px;
    background: #bdc3c7;
  }
  .footer-lang {
    display: flex;
  }
  .footer-lang p {
    margin: 0 10px;
  }
  .circle {
    width: 15px;
    height: 15px;
  }
  .circle img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
  }